extends ../layout
block content
  ul.message
  div.container
    h1 Вход на сайт #{user.nickname}
    form(method="post", action="/auth/login", id="login-form")
      div.form-control
        label(for="email") Email
        input(id="email", type="email", name="email")
      div.form-control
        label(for="password") Пароль
        input(id="password", type="password", name="password")
      div.form-control
        button(type="submit") Войти