extends layout

block content
  div.container
    h1= title
    label Your ID:
    br
    textarea#yourId
    br
    label Other ID:
    br
    textarea#otherId
    button#connect connect
    br
    label Enter Message:
    br
    textarea#yourMessage
    button#send send
    pre#messages
  