extends ../layout

block content
  div.container
    h1= title
    each item in posts
      table(class="admin-article-list")
        tr
          th Название статьи
        tr
          td=item.title