extends ../../layout

block content
  div.container
    h1= title
    table(class="admin-category-list")
      tr
        th Название категории
      each item in categories
        tr
          td=item.name