div(class="upload-image-form")
  strong Добавить изображение
  form(method="post", id="upload-image-form", enctype="multipart/form-data")
    div.form-control
      label(for="file") Выбрать изображение
      input(id="file", type="file", name="file")
    div.form-control
      button(type="submit") Загрузить изображение